.back-button {
    position: relative;
    margin-top: 2rem; /* Adjust this value as needed */
    padding: 0.75rem 2rem;
    background-color: #1f2937;
    border: none;
    border-radius: 0.375rem;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 100;
}

.back-button:hover {
    background-color: #4b5563;
}